# System files
# ------------
Icon
.DS_Store

# Temporary files
# ---------------

/backend/media
/backend/media/*
!/backend/media/index.html

# Content files
# ---------------
/backend/content
/backend/content/*

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/backend/site/cache/*
!/backend/site/cache/index.html

# Accounts
# ---------------

/backend/site/accounts/*
!/backend/site/accounts/index.html

# Sessions
# ---------------

/backend/site/sessions/*
!/backend/site/sessions/index.html

# License
# ---------------

/backend/site/config/.license
