img {
    max-width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(96px);
    -webkit-backdrop-filter: blur(96px);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999;
    overflow: auto;
}