:root {
    /* Color Styles */
    --true-black: #000000;
    --obsidian: #17171A;
    --midnight: #222226;
    --true-white: #FFFFFF;
    --cloud: #EFF2F1;
    --fog: #DBDCDC;
    --terminal: #345995;
    --modem: #8C9091;
    --cadmium: #ED5E3C;
    --calcite: rgba(251, 253, 199, 0.6);
    --quartz: #E2D8E1;
    --noon: #35A7FF;
    --lichen: #C5E0D8;
    --fir: #466365;
    --true-white-overlay: rgba(255, 255, 255, 0.7);

    /* Text Styles */
    --h1-font-size: 36px;
    --h1-line-height: 36px;

    --h1-ital-font-size: 36px;
    --h1-ital-line-height: 36px;

    --h2-font-size: 30px;
    --h2-line-height: 30px;

    --p1-font-size: 20px;
    --p1-line-height: 24px;

    --p2-font-size: 15px;
    --p2-line-height: 18px;

    /* Mobile Text Styles */
    --h1-mobile-font-size: 30px;
    --h1-mobile-line-height: 30px;

    --h1-mobile-ital-font-size: 30px;
    --h1-mobile-ital-line-height: 30px;

    --h2-mobile-font-size: 24px;
    --h2-mobile-line-height: 24px;

    --p1-mobile-font-size: 15px;
    --p1-mobile-line-height: 18px;

    --p2-mobile-font-size: 12px;
    --p2-mobile-line-height: 16px;
}


*, *:before, *:after { box-sizing: border-box; }
html {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: var(--true-black);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: none;
    font-size: 18px;
    background: #fff;
    margin: 0;
    padding: 0;
    height: 100dvh;
}
body {
    padding: 0;
    margin: 0;
}
nav a {
    position: fixed;
    font-size: 24px;
    line-height: 24px;
    text-decoration: none;
    color: var(--true-black);
    text-transform: uppercase;
    z-index: 1000;
    cursor: pointer;
}
nav a#site-title {
    top: 24px;
    left: 50%;
    transform: translate(-50%, 0);
}
nav a#index-btn {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 24px;
}
nav a#about-btn {
    left: 0px;
    transform: translate(0, -50%) rotate(270deg);
    top: 50%;
}
nav a#contact-btn {
    right: 0px;
    transform: translate(0, -50%) rotate(90deg);
    top: 50%;
}

section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 999;
}
section button.close-section {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    gap: 3px;
    align-items: center;
    background-color: transparent;
    border: 0;
    padding: 4px;
    font-size: var(--p1-font-size);
    color: var(--true-black);
    cursor: pointer;
}
section button.close-section::before {
    content: '';
    background-image: url('/assets/images/close-symbol.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
}
img#test {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 0;
}

/* Index */
section#index h1 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}
#index-inner {
    padding: 20px;
    margin-top: 100px;
}
#search-and-filters {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid var(--modem);
    padding-bottom: 10px;
}
#search-and-filters #search {
    width: 60%;
}
#search-and-filters #filters {
    display: flex;
    gap: 6px;
    width: 40%;
}
#search-and-filters #filters .filter {
    display: flex;
}
#search-and-filters #filters .filter input[type="checkbox"] {
    display: none;
}
#search-and-filters #filters .filter label {
    font-size: var(--p1-font-size);
    color: var(--modem);
    cursor: pointer;
}
#search-and-filters #filters .filter input[type="checkbox"]:checked + label {
    color: var(--true-black);
}
#search-and-filters span.descriptor {
    font-size: var(--p1-font-size);
    font-weight: bold;
}
#index-items {
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
}
#index-items .item {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-size: var(--p1-font-size);
    line-height: var(--p1-line-height);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
#index-items .item .title {
    width: 60%;
}
#index-items .item .authors {
    width: 20%;
}
#index-items .item .tag-and-date {
    color: var(--)
    width: 20%;
}
#index-items .item.selected {
    background-color: var(--calcite);
}

/* About */

/* Contact */



/* Sections animation */
#about, #contact, #index {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: transform 0.5s ease;
}

/* About: Initially offscreen to the left */
#about {
    /* left: -100%; */
    transform: translateX(-100%);
}

/* Contact: Initially offscreen to the right */
#contact {
    right: -100%;
    transform: translateX(100%);
}

/* Index: Initially offscreen at the bottom */
#index {
    bottom: -100%;
    left: 0;
    width: 100%;
    overflow-y: auto;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

/* Visible states */
#about.visible {
    transform: translateX(0);
}

#contact.visible {
    transform: translateX(0);
}

#index.visible {
    transform: translateY(0);
}


/* Feed */
#feed {
    display: flex;
    flex-flow: column nowrap;
    gap: 100px;
}


/* Page Content Layout */
.page-content {
    max-width: 888px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 24px;
}
.page-content img {
    width: 100%;
}
.page-content h2 {
}
.page-content p {
    font-size: var(--p1-font-size);
    line-height: var(--p1-line-height);
}
.page-content figure {
    margin: 0;
    padding: 0;
    line-height: 0;
}
.page-content figure figcaption {
    font-size: var(--p2-font-size);
    line-height: var(--p2-line-height);
    color: var(--modem);
    margin-top: 12px;
}
.page-content figure ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.page-content figure ul li {
    line-height: 0;
}
.page-content .block-type-image {
    margin-bottom: 12px;
}


/* Tablet */
@media(max-width:838px) {
    nav a#site-title {
        left: 24px;
        transform: initial;
    }
    nav a#index-btn {
        top: 24px;
        left: initial;
        right: 24px;
        transform: initial;
    }
    nav a#about-btn {
        top: initial;
        left: 24px;
        bottom: 24px;
        transform: initial;
    }
    nav a#contact-btn {
        top: initial;
        right: 24px;
        bottom: 24px;
        transform: initial;
    }
}

/* Mobile */
